* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background: url("./Images/pineforest.jpg");
  /* background-color: rgba(82, 103, 96, 0.25); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  border: 3px solid rgb(206, 47, 255);
}
.desc {
  border: 1px solid;
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#lildeer {
  border: 3px solid orangered;
}
